html,body {
	min-height: 100%;
	width: 100%;
	background: none;
}
body {
	position: relative;
	overflow-x: hidden;
	height: fit-content;
}

.body-container {
	overflow-x: hidden;
	width: 100%;
}

.body-container {
	margin: 0 auto;
	padding: 0px;
	min-height: 100vh;
	@include respond-to('medium') {
		padding: 0px;
	}
}
body {
	background: white;
}

.hide-on-mobile {
	display: none;
	@include respond-to('medium') {
		display: block;
	}
}

.show-on-mobile {
	display: block;
	@include respond-to('medium') {
		display: none;
	}
}

.sidebar {
	width: 300px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	top: 0;
	left: 0;
	bottom: 0;
	background: #F8F8F8;
	box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0391286), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0312586);
	.top-nav {
		opacity: 0;
		padding: 36px 24px;
		box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.0503198);
		@include respond-to('medium') {
			opacity: 1;
		}
	}
	.sidebar-content {
		.contest-brief {
			padding: 20px;
			.cover {

			}
			.title {
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 140%;
				/* identical to box height, or 20px */
				margin-top: 16px;
				letter-spacing: -0.25px;
				
				color: #172E3B;
			}
			.upbucks-chip {
				margin-top: 8px;
			}
			.brief {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 140%;
				/* or 17px */

				letter-spacing: -0.25px;
				margin-top: 16px;
				color: #6A6A6A;
			}
		}
	}
	.bottom-settings {
		padding-bottom: 24px;
		padding: 24px;
		display: flex;
		flex-direction: column;		
		.profile-container {
			border: 1px solid #EBEBEB;
			box-sizing: border-box;
			border-radius: 6px;
			margin-bottom: 12px;		
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.profile-thumb {
				width: 60px;
				height: 60px;
				margin-top: -24px;
				border-radius: 50%;
				background: #FD995E;				
			}
			.profile-display-name {
				font-style: normal;
				font-weight: bold;
				font-size: 16px;
				line-height: 21px;
				letter-spacing: -0.01em;
				margin-top: 16px;
				color: #252525;				
			}
			.profile-username {
				font-style: normal;
				font-weight: 500;
				font-size: 16px;
				line-height: 100%;
				/* identical to box height, or 16px */
				
				letter-spacing: -0.02em;
				margin-top: 4px;
				color: #555555;				
			}
			.profile-actions-container {
				width: 100%;
				padding: 0 12px;
				margin-top: 24px;
				border-top: 1px solid #EBEBEB;
				display: flex;
				align-items: center;
				a {
					font-style: normal;
					font-weight: normal;
					font-size: 14px;
					line-height: 100%;
					/* identical to box height, or 14px */
					text-align: center;
					letter-spacing: 0.02em;
					flex: 1;
					line-height: 40px;
					color: #555555;
					&:first-of-type {
						border-right: 1px solid #EBEBEB;
					}			
				}
			}
		}
		.footer {
			.footer-link {
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 100%;
				/* identical to box height, or 14px */				
				letter-spacing: 0.02em;				
				color: #AAAAAA;			
				white-space: nowrap;	
			}
			.footer-copyright {
				font-style: normal;
				font-weight: normal;
				font-size: 13px;
				line-height: 100%;
				/* identical to box height, or 14px */
				display: inline-block;
				letter-spacing: 0.02em;
				margin-top: 8px;
				color: #AAAAAA;
			}
		}		
	}
	.profile-container.whats-upnext {
		display: flex;
		align-items: flex-start;
		.upnext-title {
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 21px;
			/* identical to box height */
			padding: 0 12px;
			text-align: left;
			margin-top: 16px;
			letter-spacing: -0.01em;

			color: #252525;
		}
		.upnext-description {
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 18px;
			/* or 150% */
			text-align: left;
			letter-spacing: 0.03em;
			padding: 0 12px;
			color: #000000;
			margin-top: 8px;
			opacity: 0.5;
		}
		.upnext-benefits {
			display: flex;
			flex-direction: column;
			padding: 12px;
			padding-bottom: 0;
			li {
				display: flex;
				align-items: center;
				font-style: normal;
				font-weight: normal;
				font-size: 12px;
				line-height: 16px;
				letter-spacing: 0.03em;
				margin-top: 16px;
				color: #000000;	
				img {
					margin-right: 8px;
				}			
			}
		}		
	}
}
.contest-wrapper {
	width: calc(100% - 300px);
	padding-left: 300px;
	background: url('/assets/img/1/upnext-bg.png') no-repeat;
	background-size: 100% 100%;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contest-container {
	background: #FFFFFF;
	box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(24px);
	/* Note: backdrop-filter has minimal browser support */
	max-width: 600px;
	width: 90%;
	margin: 0 auto;
	padding: 16px;
	border-radius: 8px;
	position: relative;
	.contest-brand-bg {
		background: linear-gradient(105.2deg, rgba(108, 141, 218, 0.75) 1.71%, rgba(123, 21, 189, 0.75) 141.03%), url('/assets/img/1/brand-bg-image.png');
		background-size: 100%;
		width: 100%;
		height: 150px;
		border-radius: 6px;
	}
	.contest-description {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 150%;
		/* or 24px */
		letter-spacing: 0.02em;
		margin-top: 16px;
		padding-left: 10px;
		color: #6A6A6A;		
		@include respond-to('medium') {
			font-size: 16px;
			line-height: 150%;
			padding-left: 20px;
		}	
	}
	.contest-meta-container {
		margin-top: -84px;
		padding-left: 10px;
		padding-right: 10px;
		.contest-brand-meta {
			display: flex;
			.contest-brand-thumb img{
				width: 96px;
				height: 96px;
				min-width: 96px;
				min-height: 96px;				
				@include respond-to('medium') {
					width: 128px;
					height: 128px;	
					min-width: 84px;
					min-height: 84px;					
				}
			}
			.contest-title-prize {
				display: flex;
				flex-direction: column;
				margin-left: 12px;
				@include respond-to('medium') {
					margin-left: 24px;				
				}				
				.contest-title {
					font-style: normal;
					font-weight: bold;
					font-size: 16px;
					line-height: 20px;					
					color: #FAFBFC;				
		
					@include respond-to('medium') {
						font-size: 18px;
						line-height: 24px;				
						margin-top: 12px;
					}	
				}
				.contest-prize-chip {
					background: #FD995E;
					border-radius: 30px;
					display: inline-flex;
					width: fit-content;
					align-items: center;
					padding: 4px;
					font-style: normal;
					font-weight: bold;
					font-size: 14px;
					line-height: 100%;
					/* or 14px */					
					text-align: center;
					letter-spacing: -0.25px;					
					color: #FAFBFC;		
					margin-top: 12px;			
					span.prize {
						margin-left: 6px;
						margin-right: 4px;
					}
				}
			}			
		}
		@include respond-to('medium') {
			margin-top: -96px;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.contest-conditions {
		padding: 24px;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 16px;
		background: #F4F9FF;
		.title {
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 18px;
			
			color: #172E3C			
		}
		.contest-conditions-list {
			display: flex;
			flex-direction: column;
			&-item {
				display: flex;
				align-items: center;
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
				letter-spacing: -0.01em;
				margin-top: 16px;
				color: #5E6569;
				.icon {
					margin-right: 12px;
				}								
			}
		}
		@include respond-to('medium') {
			margin-left: 20px;
			margin-right: 20px;
		}
	}
	.contest-action-container {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 16px;
		button {
			background: #136EFB;
			border-radius: 3px;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 48px;
			text-align: center;
			padding: 0px 32px;
			color: #FCFCFC;			
		}
	}
	@include respond-to('medium') {
		height: 620px;
		width: 98%;
		margin: 0 auto;
		min-height: 580px;
		padding: 24px;
		.contest-description, .contest-conditions, .contest-action-container {
			margin-top: 32px;
		}
	}
}

.contest-finish {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 40px;
	.result {
		width: 90%;
		max-width: 375px;		
		display: flex;
		flex-direction: column;
		align-items: center;
		h2 {
			color: #30BD6E;
			margin: 0;
			margin-top: 16px;
		}
		.auth-module {
			margin-top: 20px;
		}
		.share-widget {
			display: flex;
			align-items: center;
			width: 100%;
			margin-top: 48px;
			justify-content: space-between;
			span {
				font-style: normal;
				font-weight: 500;
				font-size: 14px;
				line-height: 100%;
				/* identical to box height, or 14px */
				
				letter-spacing: -0.02em;
				
				color: #30374A;				
			}
			.share-icons {
				display: flex;
				align-items: center;
				span {
					margin-left: 16px;
				}
			}
		}
		p.lead {
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 26px;
			text-align: center;
			
			color: #3C4246;			
		}		
	}

}

.mobile-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 16px;
	position: fixed;
    left: 0;
    right: 0;
    background: white;
	top: 20px;
	margin: 0 20px;
	border-radius: 4px;
	z-index: 100;
	box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0391286), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.0312586);
	@include respond-to('medium') {
		display: none;
		position: static;
	}
}
.sidebar {
	margin-left: -100vw;
	max-height: 100vh;
	overflow: hidden;
	width: 100%;
	z-index: 10;
	.toggle-menu-btn {
		display: block;
	}
	transition: all 0.2s ease-in;
	@include respond-to('medium') {
		margin-left: 0px;
		width: 300px;
		.toggle-menu-btn {
			display: none;
		}		
	}
}
.contest-wrapper {
	padding-left: 0;
	padding: 0px;
	@include respond-to('medium') {
		padding-left: 300px;
	}
}

// Modal Blocker Z Index 
.blocker {
	z-index: 15 !important; 
}