
input[type="submit"] {
    outline: none;
    border: none;
    cursor: pointer;   
    text-transform: uppercase;
}

.contest-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 375px;
    margin: 0px auto;
    .form-prize {
        position: absolute;
        top: 0;
        right: 10px;
    }
    .question {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
        color: #172E3B;
        margin-bottom: 40px;
        margin-top: 56px;
        @include respond-to('medium') {
            font-size: 24px;
            line-height: 31px;
        }
    }

    .track {
        display: flex;
        align-items: center;
        margin-top: 16px;       
        &:first-of-type {
            margin-top: 0;
        }
        .answer {
            display: flex;
            align-items: center;
            background: #FAFAFA;
            border-radius: 90px;
            padding: 12px;            
            .cover {
                border-radius: 128px;
                width: 56px;
                height: 56px;    
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: none;
                    outline: none;
                }                 
                img.play {
                    position: absolute;
                    z-index: 2;

                    width: 12px;
                    height: 12px;                    
                }
                img.image-bg-shadow {
                    position: absolute;
                    z-index: 0;
                    top: 6px;
                    filter: blur(8px);
                    opacity: 0.5;
                    width: 55px;
                    height: 55px;
                    border-radius: 128px;
                    border: none;
                    outline: none;
                }
                img.image {
                    position: relative;
                    z-index: 2;
                    width: 55px;
                    height: 55px;    
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;             
                    border-radius: 128px;
                    padding: 3px;
                    background: #F3F3F3;    
                }
           
            }
            .track-info {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 26px;
                width: 18ch;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;                
                color: #3C4246;       
                margin-left: 16px;         
                .track-artist {
                    font-weight: 500;
                }
                @include respond-to('medium') {
                    width: 30ch;
                }
            }            
        }
    }
}

.radio-upnext {
    opacity: 0;
    position: absolute;   

}

.radio-option {
    margin-top: 12px;
    &:first-of-type {
        margin-top: 0;
    } 
}

.radio-upnext, .radio-upnext-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.radio-upnext-label {
    position: relative;
    line-height: 48px;
    width: 100%;
    border-radius: 48px;
    background: #FFFFFF;
    border: 2px solid #E2E2E2;
    border-radius: 40px;
    box-sizing: border-box;
    border-radius: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 30px */

    letter-spacing: -0.02em;
    max-width: 360px;
    width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    padding: 8px;
   
}

.radio-upnext + .radio-upnext-label:before {
    content: '';
    border: 2px solid #E2E2E2;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    width: 48px;
    height: 48px;
    padding: 12px;
    margin-right: 10px;
    text-align: center;
}

.radio-upnext + .radio-upnext-label:before {
    border-radius: 50%;
}

.radio-upnext:checked + .radio-upnext-label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #677670;
    border-color: transparent;
    transition: all 0.3s ease-in-out;
}
.radio-upnext:checked + .radio-upnext-label {
    content: "\f00c";
    font-family: 'FontAwesome';
    color: #677670;
    background: #F7F8F7;
    font-style: normal;
    font-weight: bold;
    /* identical to box height, or 30px */

    letter-spacing: -0.02em;
    transition: all 0.3s ease-in-out;
}


.auth-module {
	h3 {
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		margin-bottom: 20px;
		color: #3C4246;
	}
	p.helper {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		/* identical to box height */

		text-align: center;
		margin-top: 16px;
		color: #737373;
	}
	.shared-links {
		margin-top: 8px;
	}
	.shared-links a {
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 16px;
		/* identical to box height */
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		
		color: #136EFB;
	}
	form {
		display: flex;
		flex-direction: column;
		input {
			margin-top: 8px;
			background: #FFFFFF;
			border: 1px solid #EBEBEB;
			box-sizing: border-box;
            border-radius: 3px;	
            padding: 12px;
		}
		.input-group.input-phone-number {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			input {
				padding: 12px;
				padding-left: 80px;
				width: 100%;
				margin-top: 0;
			}
			.phone-field-overlay {
				position: absolute;
				left: 8px;
				display: flex;
				align-items: center;
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 100%;
				padding-right: 12px;
				border-right: 1px solid #ebebeb;
				text-align: center;
				letter-spacing: -0.416667px;
				color: #484E51;
				margin-left: 4px;
				align-self: center;
				margin-top: 2px;			
				span {
					margin-left: 4px;
				}				
			}
		}
		input[type="submit"] {
			background: #136EFB;
			border-radius: 3px;
			font-style: normal;
			font-weight: bold;
			font-size: 14px;
			line-height: 48px;
			text-align: center;
			padding: 0px 32px;
			color: #FCFCFC;	
		}
	}
}
#signup-modal {
    padding: 24px 16px;
    // hides the "Close" text generated by the modal on the top right close icon
    .close-modal {
        text-overflow: ellipsis;
        overflow: hidden;
        text-indent: 40px;
    }
    @include respond-to('medium') {
        padding: 40px 32px;
    }
}